.idea
*.iml
logs
exporttimings.csv
target
*.code-workspace
JIDE Docking Framework/javadoc/com/jidesoft/chart/model/TimePosition.html
JIDE Docking Framework/javadoc/
JIDE Docking Framework/
WorldPainter/AppleJavaExtensions.jar
.project
